@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: normal;
}

body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.container {
    margin: 0px auto;
    max-width: 1240px;
}

:root {
    --text-color:#fe5f38;
}

/* header */




