@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: normal;
}

body {
    font-size: 14px;
    font-family: "Lato",sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.container {
    margin: 0px auto;
    max-width: 1200px;
}

:root {
    --color:#fe5f38;
}

/* header top */

header {
    width: 100%;
}

#header-top {
    height: 41px;
    background: #000;
}

#header-top .row {
    display: flex;
}

.row-left {
    width: 50%;
    display: flex;
}

.area-left ul {
    display: flex;
}

.area-left ul li:nth-child(2) {
    line-height: 40px;
    padding: 0px 20px;
    border-right: 1px solid #4e4e4e;
}

.area-left ul li:nth-child(1) {
    border-left: 1px solid #4e4e4e;
    line-height: 40px;
    padding: 0px 18px;
    border-right: 1px solid #4e4e4e;
}

.area-left .drodown-show a{
    color: #ffffff;
    font-size: 15px;
    font-weight: 400;
    text-transform: uppercase;
}

.area-left .drodown-show a i {
    font-size: 12px;
}

.area-left .drodown-show:hover .usd {
    display: block;
}

.area-left .drodown-show .usd {
    display: flex;
    flex-direction: column;
    width: 110px;
    background: #ffffff;
    padding: 10px;
    border-top: 2px solid var(--color);
    display: none;
    position: absolute;
    top: 40px;
    right: 5px;
}

.area-left .drodown-show .usd small {
    color: #ffffff;
}

.area-left .drodown-show {
    position: relative;
}

.area-left .drodown-show:hover .lish {
    display: block;
}

.area-left .drodown-show .lish {
    display: flex;
    flex-direction: column;
    width: 110px;
    background: #ffffff;
    padding: 10px;
    border-top: 2px solid var(--color);
    position: absolute;
    top: 41px;
    right: -12px;
    display: none;
}

.area-left .drodown-show .lish small:hover {
    color: var(--color);
}

.area-left .drodown-show .usd li {
    background-color: #fe5f38;
    font-size: 13px;
    margin: 2px;
}

.area-left .drodown-show a:hover {
    color: var(--color);
}

.area-right ul {
    display: flex;
}

.area-right ul li a  {
    color: #ffffff;
    font-size: 17px;
    line-height: 40px;
    display: block;
    border-right: 1px solid #4e4e4e;
    align-items: center;
    width: 41px;
    text-align: center;
}

.area-right ul li a:hover {
    color: var(--color);
}

.row-right {
    width: 50%;
}

.row-right ul {
    display: flex;
    justify-content: flex-end;
    -webkit-box-pack: end;
}

.row-right ul li a i {
    margin-right: 10px;
    font-size: 13px;
}

.row-right ul li:nth-child(1) {
    border-left: 1px solid #4e4e4e;
    border-right: 1px solid #4e4e4e;
    padding: 0 20px;
}

.row-right ul li:nth-child(2) {
    border-right: 1px solid #4e4e4e;
    padding: 0 20px;
}

.row-right ul li:nth-child(3) {
    border-right: 1px solid #4e4e4e;
    padding: 0 20px;    
}

.row-right ul li a {
    color: #fff;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 40px;
}

.row-right ul li a:hover {
    color: var(--color);
}

/* header mid */

#header-mid {
    padding: 15px 0px;
}

#header-mid .row {
    display: flex;
}

#header-mid .row .row-logo {
    width: 41%;
}

#header-mid .row .row-phone{
    width: 59%;
    display: flex;
}

.row-phone .store-info {
    border-right: 1px solid #e5e5e5;
    width: 90%;
    display: inline-block;
    margin-top: 20px;
    padding-right: 36px;
    text-align: right;
}

.row-phone .store-info p {
    font-size: 15px;
    color: #444;
}

.store-info .hotline {
    margin-bottom: 22px;
}

.store-info .hotline i {
    color: var(--color);
    margin-right: 10px;
}

.store-info .hotline small {
    font-size: 18px;
    font-weight: 550;
    color: #333333;
}

.row-phone .shonping-mini {
    float: right;
    margin-top: 40px;
    margin-left: 30px;
    width: 10%;
}

.shonping-mini .mini-cart {
    text-align: center;
    position: relative;
    z-index: 1;
}

.shonping-mini .mini-cart:hover .cart-wrap {
    display: block;
}

.shonping-mini .mini-cart a {
    position: relative;
}

.shonping-mini .mini-cart a i {
    font-size: 28px;
    color: #000;
}

.shonping-mini .mini-cart a span {
    display: block;
    width: 20px;
    height: 20px;
    background-color: #fe5f38;
    position: absolute;
    top: -17px;
    right: 24px;
    color: #ffffff;
    border-radius: 100%;
}


.cart-wrap {
    width: 300px;
    border-top: 2px solid #fe5f38;
    border-left: 1px solid #e5e5e5;
    border-right: 1px solid #e5e5e5;
    border-bottom: 1px solid #e5e5e5;
    position: absolute;
    top: 32px;
    right: 3px;
    display: none;
    background-color: #ffffff;
}
.cart-wrap ul {
    padding: 10px 20px;

}

.cart-wrap ul li {
    display: flex;
}

.content-right {
    margin-left: 10px;
}

.content-right h3 {
    margin-bottom: 10px;
}

.content-right h3 a {
    color: #444;
}

.content-right h3 a:hover {
    color: var(--color);
}

.content-right .price-box span {
    color: var(--color);
}

.cart-wrap .price-content p {
    margin-bottom: 10px;
}

.cart-wrap .price-content p span {
    font-weight: bold;
}

.cart-wrap .cart-form {
    margin: 30px 0px;
}

.cart-wrap .cart-form button {
    background: #2c2e3d;
    padding: 10px 110px;
    color: #ffffff;
    font-size: 15px;
}

.cart-wrap .cart-form button:hover {
    color: var(--color);
}

/* header bottom */

#header-bottom {
    width: 100% ;
    height: 80px;
    background: #fff;   
}

#header-bottom .container {
    display: flex;
}

#header-bottom .menu {
    width: 70%;
}

#header-bottom .menu ul {
    display: flex;
}

.container .menu ul li a {
    color: #222;
    display: block;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 30px 15px;
    text-transform: uppercase;
}

.container .menu ul li a:hover {
    color: var(--color);
}

#header-bottom .menu .home {
    position: relative;
}

#header-bottom .menu .home:hover .list{ 
    display: block;
}

#header-bottom .menu .home ul {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 170px;
    background: #ffffff;
    display: none;
    top: 60px;
    padding-left: 10px ;
    z-index: 2;
}


#header-bottom .menu .page {
    display: flex;
    position: relative;
}

#header-bottom .menu .page:hover .column {
    display: flex;
}

#header-bottom .menu .page .column {
    position: absolute;
    top: 60px;
    display: none;
    padding-left: 10px;
    background-color: #ffffff;
    z-index: 3;
}

#header-bottom .menu .page .column li {
    width: 170px;
}

#header-bottom .menu .page .column .one {
    display: flex;
    flex-direction: column;
}

#header-bottom .menu .page .column h4{
    color: var(--color);
}

#header-bottom .search {
    width: 30%;
}

#header-bottom .search .search-bar {
    display: flex;
    justify-content: flex-end;
    line-height: 80px;
    position: relative;
}

#header-bottom .search .search-bar .form input {
    border: 1px solid #e5e5e5;
    height: 42px;
    min-width: 255px;
    padding: 0px 00px 0px 10px;
    width: 100
}

#header-bottom .search .search-bar .search-icon {
    position: absolute;
    font-size: 20px;
    top: 5px;
    right: 20px;
    color: #555;
}


/* SLIDER */

#slider {
    width: 100%;
    position: relative;
}

#slider img {
    width: 100%;
}

#slider .slider-women {
    position: absolute;
    top: 33%;
    left: 7%;
}

#slider .slider-women h1 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 300;
    letter-spacing: 0.25em;
    line-height: 40px;
    margin-bottom: 23px;
    margin-top: 0;
    text-transform: uppercase;
}

#slider .slider-women h2 {
    color: #ffffff;
    font-size: 50px;
    font-weight: 700;
    letter-spacing: 0.25em;
    line-height: 1;
    margin-bottom: 30px;
    margin-top: 0;
    text-transform: uppercase;
}

#slider .slider-women p {
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#slider .slider-women p span {
    margin-right: 10px;
    border-right: 3px solid #e5e5e5;
    padding-right: 10px;
    font-size: 15px;
    color: #fff;
    font-weight: bold;
}

#slider .slider-women .shop-now button {
    padding: 15px 30px;
    font-weight: bold;
    color: #444;
}

#slider .slider-women .shop-now button:hover {
    background-color:var(--color);
}

/* BANER */

#benner {
    width: 100%;
    display: flex;
}

#benner .back-women {
    width: 25%;
}

#benner .back-women img {
    width: 100%
}

#benner .fasshion-style {
    width: 50%;
}

#benner .fasshion-style img {
    width: 100%;
}

#benner .men-accsessories {
    width: 25%;
}

#benner .men-accsessories img {
    width: 100%;
}

/* SALE */

#sale {
    width: 100%;
    margin-top: 50px;
}

#sale .container .trends {
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}

#sale .container .trends h2 {
    color: #333333;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: bold;
}

#sale .container .trends h2 small {
    display: block;
    margin-top: 20px;
    font-size: 1.2rem;
    text-transform:capitalize;
    color: #999999;
}

#sale .container .Clothes {
    display: flex;
    justify-content: space-between;
}

#sale .container .Clothes .most {
    width: 30%;
}

#sale .container .Clothes .most .Clothes-left {
    position: relative;
    width: 100%;
}

#sale .container .Clothes .most .Clothes-left a img {
    width: 100%;
}

#sale .container .Clothes .most .Clothes-left span {
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

#sale .container .Clothes .most .Clothes-left span.new {
    top: 10px;
    left: 10px;
    position: absolute;
}

#sale .container .Clothes .most .Clothes-left span.discount {
    top: 10px;
    right:10px;
    position: absolute;
}

#sale .container .Clothes .most .Clothes-left .Clothes-icon {
    background: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 27%;
    padding: 10px 30px;
    display: none;
}

#sale .container .Clothes .most .Clothes-left:hover .Clothes-icon {
    display: flex;
}

#sale .container .Clothes .most .Clothes-left .Clothes-icon i {
    margin: 0px 10px;
    font-size: 1.2rem;
}

#sale .container .Clothes .most .most-text {
    text-align: center;
    margin-top: 15px;
}

#sale .container .Clothes .most .most-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

#sale .container .Clothes .most .most-text span.old-price {
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

#sale .container .Clothes .most .most-text span.new-price {
    color: var(--color);
    font-weight: bold;
}


#sale .container .Clothes .trendy {
    width: 30%;
    position: relative;
}

#sale .container .Clothes .trendy a img {
    width: 100%;
}

#sale .container .Clothes .trendy .Clothes-center span {
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

#sale .container .Clothes .trendy span.new {
    top: 10px;
    left: 10px;
    position: absolute;
}

#sale .container .trendy .Clothes-center span.discount {
    top: 10px;
    right: 10px;
    position: absolute;
}

#sale .container .trendy .Clothes-center {
    position: relative;
}

#sale .container .trendy .Clothes-center:hover .Clothes-icon  {
    display: flex;
}

#sale .container .trendy .Clothes-center .Clothes-icon {
    background: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 27%;
    padding: 10px 30px;
    display: none;
}

#sale .container .trendy .Clothes-center .Clothes-icon i {
    margin: 0px 10px;
    font-size: 1.2rem;
}

#sale .container .trendy .most-text {
    text-align: center;
    margin-top: 15px;
}

#sale .container .trendy .most-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

#sale .container .trendy .most-text span.old-price {
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

#sale .container .trendy .most-text span.new-price {
    color: var(--color);
    font-weight: bold;
}

#sale .container .Clothes .sem {
    width: 30%;
    position: relative;
} 

#sale .container .Clothes .sem .sem-left a img {
    width: 100%;
}

#sale .container .Clothes .sem .sem-left span {
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

#sale .container .Clothes .sem .sem-left span.new {
    top: 10px;
    left: 10px;
    position: absolute;
}

#sale .container .sem .sem-left span.discount {
    top: 10px;
    right: 10px;
    position: absolute;
}

#sale .container .sem .sem-left {
    position: relative;
}

#sale .container .sem .sem-left .Clothes-icon {
    background: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 27%;
    padding: 10px 30px;
    display: none;
}

#sale .container .sem .sem-left .Clothes-icon i {
    margin: 0px 10px;
    font-size: 1.2rem;
}

#sale .container .sem .sem-left:hover .Clothes-icon {
    display: flex;
}

#sale .container .sem .most-text {
    text-align: center;
    margin-top: 15px;
}

#sale .container .sem .most-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

#sale .container .sem .most-text .price-box span.old-price{
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

#sale .container .sem .most-text .price-box span.new-price {
    color: var(--color);
    font-weight: bold;
}

/* BEST SELLER */

#best-seller {
    width: 100%;
    margin-top: 80px;
}

#best-seller .container .row {
    margin-bottom: 40px;
    display: flex;
}

#best-seller .container .row-center .text-center {
    text-align: center;
    margin-bottom: 20px;
}

#best-seller .container .row-center .text-center h2 {
    color: #333333;
    font-size: 2.5rem;
    text-transform: uppercase;
    margin-bottom: 30px;
}

#best-seller .container .row-center .text-center p {
    color: #999999;
    font-weight: bold;
    font-size: 1.5rem;
    font-family: "Playfair Display",serif;
}

#best-seller .container .row-center .tabs-categorys ul {
    display: flex;
    justify-content: center;
}

#best-seller .container .row-center .tabs-categorys ul li.vav a {    
    color: var(--color);
}

#best-seller .container .row-center .tabs-categorys ul .vav {
    border: 1px solid var(--color);
    margin: 0px 20px;
    padding: 5px 20px;
}

#best-seller .container .row-center .tabs-categorys ul li {
    border: 1px solid #555;
    margin: 0px 20px;
    padding: 7px 20px;
}

#best-seller .container .row-center .tabs-categorys ul li a {
    color: #555;
}

#best-seller .container .row .active-left {
    width: 50%;
}

.active-left .amily {
    width: 100%;
    margin-bottom: 50px;
}

.active-left .amily ul {
    display: flex;
}

.active-left .amily ul li {
    width: 45%;
    margin: 20px;
}

.active-left .amily ul li .amily-left {
    position: relative;
}

.active-left .amily ul li .amily-left img {
    width: 100%;
}

.amily ul li .amily-left span {
    top: 10px;
    left: 10px;
    position: absolute;
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.amily ul li .amily-left:hover .amily-icon {
    display: flex;
}

.amily ul li .amily-left .amily-icon {
    position: absolute;
    background: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 22%;
    padding: 8px 15px;
    display: none;
}

.amily ul li .amily-left .amily-icon i {
    margin: 0px 10px;
    font-size: 1.2rem; 
}

.amily ul li .amily-text {
    text-align: center;
    margin-top: 29px;
}

.amily ul li .amily-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

.amily ul li .amily-text .price-box span.old-price {
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

.amily ul li .amily-text .price-box span.new-price {
    color: var(--color);
    font-weight: bold;
}

.amily ul li .amily-riht {
    position: relative;
}

.amily ul li .amily-riht img {
    width: 100%;
}

.amily ul li .amily-riht span {
    top: 10px;
    left: 10px;
    position: absolute;
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.amily ul li .amily-riht:hover .amily-icon {
    display: flex;
}

.amily ul li .amily-riht .amily-icon {
    position: absolute;
    background: #ffffff;
    position: absolute;
    bottom: 20px;
    left: 22%;
    padding: 8px 15px;
    display: none;
}

.amily ul li .amily-riht .amily-icon i {
    margin: 0px 10px;
    font-size: 1.2rem; 
}

.amily ul li .amily-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

.amily ul li .amily-text .price-box span.old-price {
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

.amily ul li .amily-text .price-box span.new-price {
    color: var(--color);
    font-weight: bold;
}

.active-left .anne {
    margin: 20px;
    position: relative;
}

.active-left .anne img {
    width: 100%;
}

.active-left .anne span.new {
    top: 10px;
    left: 10px;
    position: absolute;
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.active-left .anne .anne-text {
    text-align: center;
    margin-top: 10px;
}

.active-left .anne .anne-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

.active-left .anne:hover .anne-icon {
    display: flex;
}

.active-left .anne .anne-icon {
    position: absolute;
    background: #ffffff;
    position: absolute;
    bottom: 90px;
    left: 35%;
    padding: 15px 31px;
    display: none;
}

.active-left .anne .anne-icon i {
    margin: 0px 10px;
    font-size: 1.2rem; 
}

.active-left .anne .anne-text .price-box span.old-price {
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

.active-left .anne .anne-text .price-box span.new-price {
    color: var(--color);
    font-weight: bold;
}



#best-seller .container .row .active-right {
    width: 50%;
}

.active-right .janna {
    width: 100%;
    margin: 20px;
    position: relative;
}

.janna-top .janna-top {
    position: relative;
}

.active-right .janna .janna-top img {
    width: 100%;
}

.janna-top span {
    top: 10px;
    left: 10px;
    position: absolute;
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.janna .janna-top:hover .janna-icon {
    display: flex;
}

.janna-top .janna-icon {
    position: absolute;
    background: #ffffff;
    position: absolute;
    bottom: 90px;
    left: 35%;
    padding: 15px 31px;
    display: none;
}

.janna-top .janna-icon i {
    margin: 0px 10px;
    font-size: 1.2rem; 
}

.janna .janna-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

.janna .janna-text {
    text-align: center;
    margin-top: 10px;
}

.janna .janna-text .price-box span.old-price {
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

.janna .janna-text .price-box span.new-price {
    color: var(--color);
    font-weight: bold;
}

.active-right .maloc {
    width: 100%;
}

.active-right .maloc ul {
    display: flex;
}

.active-right .maloc ul li {
    margin: 20px;
}

.active-right .maloc ul li .maloc-left img {
    width: 100%;
}

.maloc-left {
    position: relative;
}

.maloc-left span {
    top: 10px;
    left: 10px;
    position: absolute;
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.maloc-left:hover .maloc-icon {
    display: flex;
}

.maloc-left .maloc-icon {
    background: #ffffff;
    position: absolute;
    bottom: 26px;
    left: 23%;
    padding: 7px 11px;
    display: none;
}

.maloc-left .maloc-icon i {
    margin: 0px 10px;
    font-size: 1.2rem; 
}

.active-right .maloc ul li .maloc-text {
    text-align: center;
    margin-top: 10px;
}
.active-right .maloc ul li .maloc-text h3 {
    text-transform: uppercase;
    color: #2c2c2c;
    font-size: 15px;
    margin-bottom: 5px;
}

.maloc-text span.old-price {
    margin-right: 8px;
    text-decoration: line-through;
    color: #ccc;
}

.maloc-text span.new-price {
    color: var(--color);
    font-weight: bold;
}

.active-right .maloc ul li .maloc-right {
    position: relative;
}

.active-right .maloc ul li .maloc-right img {
    width: 100%;
}

.maloc-right span {
    top: 10px;
    left: 10px;
    position: absolute;
    background: #fe5f38 ;
    padding: 3px 15px;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
}

.maloc-right:hover .maloc-icon {
    display: flex;
}

.maloc-right .maloc-icon {
    background: #ffffff;
    position: absolute;
    bottom: 26px;
    left: 23%;
    padding: 7px 11px;
    display: none;
}

.maloc-right .maloc-icon i {
    margin: 0px 10px;
    font-size: 1.2rem; 
}

/* benner-save */

#benner-save {
    width: 100%;
}

#benner-save .look-box ul {
    display: flex;
}

#benner-save .look-box ul li {
    width: calc(100%/ 3);
}

#benner-save .look-box ul li img {
    width: 100%;
}

/* BRAND  */

#brand {
    width: 100%;
}

#brand ul {
    display: flex;
}

#brand ul li {
    width: calc(100%/ 5);
}

#brand ul li img {
    width: 100%;
}

/* BLOG */

#blog {
    width: 100%;
    margin-top: 70px;
    margin-bottom: 100px;
}

#blog .container .row .about {
    display: flex;
}

.about .about-left {
    width: 50%;
}

.about .about-left .saying {
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
    font-size: 1.5rem;
}

.about .about-left .bloom {
    display: flex;  
    flex-direction: column ;
    margin-top: 40px;
}

.about .about-left .bloom span {
    margin: 20px 0px;
    text-transform: uppercase;
    font-weight: bold;
    color: var(--color);
}

.about .about-left .bloom p {
    margin-bottom: 20px;
    text-transform: capitalize;
    font-size: 15px;
    color: #999999;
}

.about .about-left .bloom .bloom-text {
    width: 80%;
}

.about .about-left .bloom .bloom-text p {
    color: #333333;
}



.about .about-right {
    width: 50%;
}

.about .about-right .latest {
    margin-bottom: 30px;
}

.about .about-right .latest h2 {
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: bold;
    color: #333333;
}

.about .about-right .xipblog {
    width: 100%;
}

.about .about-right .xipblog ul {
    display: flex;
}

.about .about-right .xipblog ul li {
    margin: 20px;
}

.about .about-right .xipblog ul li img {
    width: 100%;
}

.xipblog ul li .xipblog-text h4 {
    margin: 15px 0px;
}

.xipblog ul li .xipblog-text h4 a {
    color: #333333;
}


/* <!-- PRODUCT --> */

#product {
    width: 100%;
    border-top: 1px solid #ccc;
}

#product .container .row {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.product-left h3 {
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 50px;
}

.product-left ul li {
    display: flex;
    width: 100%;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}

.product-left ul li .photoshop {
    width: 20%;
}

.product-left ul li .photoshop img {
    width: 100%;
}

.product-left ul li .product-text h4 a {
    text-transform: uppercase;
    color: #333333;
}

.product-left ul li .product-text {
    margin-left: 20px;
}

.product-left ul li .product-text span {
    color: #fe5f38;
}

.product-left ul li .product-text span.new {
    color: #ccc;
    text-decoration: line-through;
}

.product-center h3 {
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 50px;
}

.product-center ul li {
    display: flex;
    width: 100%;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}

.product-center ul li .photoshop {
    width: 20%;
}

.product-center ul li .photoshop img {
    width: 100%;
}

.product-center ul li .product-text h4 a {
    text-transform: uppercase;
    color: #333333;
}

.product-center ul li .product-text {
    margin-left: 20px;
}

.product-center ul li .product-text span {
    color: #fe5f38;
}

.product-center ul li .product-text span.new {
    color: #ccc;
    text-decoration: line-through;
}

.product-right h3 {
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 50px;
}

.product-right ul li {
    display: flex;
    width: 100%;
    margin: 10px;
    border-bottom: 1px solid #ccc;
}

.product-right ul li .photoshop {
    width: 20%;
}

.product-right ul li .photoshop img {
    width: 100%;
}

.product-right ul li .product-text h4 a {
    text-transform: uppercase;
    color: #333333;
}

.product-right ul li .product-text {
    margin-left: 20px;
}

.product-right ul li .product-text span {
    color: #fe5f38;
}

.product-right ul li .product-text span.new {
    color: #ccc;
    text-decoration: line-through;
}

/* footer */

footer {
    width: 100%;
    margin-top: 100px;
}

#footer-top .since  {
    text-align: center;
    margin-bottom: 50px;
}

#footer-top .signup form {
    display: flex;
    justify-content: center;
}

#footer-top .signup form p {
    border: 1px solid #999999;
    padding: 14px;
    font-weight: bold;
    text-transform: uppercase;
}

#footer-top .signup form input {
    padding: 15px;
}

#footer-top .signup button {
    padding: 17px;
    background: var(--color);
    color: #ffffff;
    font-size:13px;
    font-weight: bold;
    border: none;
}

#footer-mid {
    width: 100%;
    margin-top: 50px;
}

#footer-mid .row {
    display: flex;
    justify-content: space-around;
}

#footer-mid .row h3 {
    text-transform: uppercase;
    color: #333333;
    margin: 30px 0px;
}

#footer-mid .row ul li {
    margin-bottom: 10px;
}

#footer-mid .row ul li a {
    color: var(--color);
}

#footer-mid .row ul li a.email {
    color: #333333;
}

#footer-mid .row ul li i, p, span {
    color: #333333;
}

#footer-bottom {
    width: 100%;
    margin-top: 100px;
    border-top: 1px solid #ccc;
}

#footer-bottom .row {
    text-align: center;
    margin: 30px 0px;
}

/* media */

@media only screen and (max-width:480px) {
    #header-top {
        height: 150px;
    }

    #header-top .row {
        flex-direction: column;
    }

    .row-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .area-left ul li:nth-child(1) {
        border: none;
    }

    .area-left ul li:nth-child(2) {
        border: none;
    }

    .area-left .drodown-show:hover .lish {
        display: none;
    }

    .area-left .drodown-show:hover .usd {
        display: none;
    }

    .area-right ul li a {
        border: none;
    }

    .row-right {
        width: 100%;
        display: flex;
        align-items: center;
        margin-top: 25px;
    }   

    .row-right .info-top {
        width: 100%;
    }

    .row-right ul {
        justify-content: space-around;
    }

    .row-right ul li {
        display: flex;
    }

    .row-right ul li a {
        font-size: 15px;
        line-height: 15px;
        display: flex;
        margin-right: 10px;
    }

    .row-right ul li a i {
        margin-right: 10px;
    }

    .row-right ul li:nth-child(1) {
        border: none;
        padding: 0px;
    }

    .row-right ul li:nth-child(2) {
        border: none;
        padding: 0px;
    }

    .row-right ul li:nth-child(3) {
        padding: 0px;
        border: none;
    }

    .row-right ul li a small {
        display: block;
    }

    #header-mid .row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    #header-mid .row .row-logo {
        width: 100%;
        text-align: center;
    }

    #header-mid .row .row-phone {
        width: 100%;
        display: flex;
        flex-direction: column;
    }   
    
    .row-phone .store-info {
        width: 100%;
        margin-top: 20px;
        padding-right: 0px;
        text-align: center;
    }

    .row-phone .store-info {
        border: none;
    }

    .cart-wrap {
        display: none;
    }

    #best-seller .container .row .active-right {
        display: none;
    }


    .active-left .amily ul {
        display: flex;
        flex-direction: column;
    }

    .active-left .amily ul li {
        width: 90%;
        margin: 20px;
    }

    .row-phone .shonping-mini {
        margin-top: 35px;
        margin-left: 0px;
        width: 100%;
    }

    #header-bottom {
        width: 100%;
        height: auto;
        background: #fff;
    }

    #header-bottom .container {
        flex-direction: column;
    }

    #header-bottom .menu {
        width: 100%;
    }

    #header-bottom .search {
        width: 100%;
    }

    #header-bottom .menu ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    #header-bottom .search .search-bar {
        display: flex;
        justify-content: center;
        line-height: 80px;
        position: relative;
    }

    #header-bottom .search .search-bar .form input {
        min-width: 355px;
    }

    #slider .slider-women h1 {
        font-size: 16px;
        margin-bottom: 5px;
    }

    #slider .slider-women h2 {
        font-size: 19px;
        margin-bottom: 10px;
    }

    #slider .slider-women p span {
        font-size: 10px;
    }

    #slider .slider-women {
        top: 22%;
    }

    #slider .slider-women .shop-now button {
        padding: 8px 7px;
    }

    #slider .slider-women p {
        margin-bottom: 0px;
    }

    #benner {
        flex-direction: column;
    }
    
    #benner .back-women {
        width: 100%;
    }

    #benner .fasshion-style {
        display: none;
    }

    #benner .men-accsessories {
        width: 100%;
    }

    #sale .container .trends h2 small {
        margin-top: 5px;
    }

    #sale .container .trends {
        margin-bottom: 25px;
    }

    #sale .container .Clothes {
        display: flex;
        justify-content: space-between;
        flex-direction: column;
    }

    #sale .container .Clothes .most {
        width: 100%;
    }

    #sale .container .Clothes .trendy {
        width: 100%;
        position: relative;
    }

    #sale .container .Clothes .sem {
        width: 100%;
        position: relative;
    }

    #sale .container .Clothes .most .most-text {
        margin-bottom: 30px;
    }

    #sale .container .trendy .most-text {
        margin-bottom: 30px;
    }

    #best-seller .container .row-center .text-center h2 {
        font-size: 2rem;
        margin-bottom: 0px;
    }

    #best-seller .container .row-center .text-center p {
        font-size: 1.2rem;
    }

    #best-seller .container .row-center .tabs-categorys ul {
        flex-wrap: wrap;
    }

    #best-seller .container .row-center .tabs-categorys ul li:nth-child(4) {
        margin-top: 10px;
    }

    #best-seller .container .row {
        flex-direction: column;
    }

    #best-seller .container .row .active-left {
        width: 100%;
    }

    #best-seller .container .row .active-right {
        width: 100%;
    }

    #benner-save .look-box ul { 
        flex-direction: column;
    }

    #benner-save .look-box ul li {
        width: 100%;
    }

    #brand ul {
        display: flex;
        flex-wrap: wrap;
    }  
    
    #brand ul li {
        width: calc(100%/ 2);
    }

    #brand ul li:nth-child(5) {
        display: none;
    }

    #blog .container .row .about {
        flex-direction: column;
    }

    .about .about-left {
        width: 100%;
        text-align: center;
    }

    .about .about-left .bloom .bloom-text {
        width: 100%;
    }

    .about .about-right {
        width: 100%;
    }

    .about .about-right .latest {
        text-align: center;
        margin-bottom: 10px;
    }

    .about .about-right .latest h2 {
        font-size: 1.5rem;
        text-transform: uppercase;
        font-weight: bold;
        color: #333333;
    }

    .about .about-right .xipblog ul {
        display: flex;
        flex-direction: column;
    }

    #product .container .row .product-left {
        display: none;
    }

    #product .container .row .product-center {
        display: none;
    }

    #product .container .row .product-right {
        width: 100%;
    }

    .product-right ul li {
        display: flex;
        width: 100%;
        margin: 0px;
        padding-left:0px;
    }

    #product .container .row .product-right ul {
        display: flex;
        flex-direction: column;
    }

    #footer-top .signup form {
        display: flex;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

    #footer-top .signup form p {
        border: none;
    }

    #footer-top .signup form input {
        padding: 9px;
        width: 315px;
        margin-bottom: 10px;
    }

    #footer-mid .row {
        display: flex;
        justify-content: space-around;
        flex-direction: column;
        margin-left: 10px;
    }

}