@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: normal;
}

body {
    font-size: 1em;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

ul {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
}

.container {
    margin: 0px auto;
    max-width: 1240px;
}

:root {
    --color:#fe5f38;
}

/* header */

header {
    width: 100%;
}

.header-top {
    width: 100%;
    height: 40px;
    background: #000;
}

.header-top .container {
    display: flex;
    width: 100%;
}   

.container .top-left {
    display: flex;
    width: 50%;
    position: relative;
}

.container .top-left .francais {
    position: absolute;
    top: 40px;
    left: 32px;
    border-top: 2px solid var(--color);
    background-color: #fff;
    width: 117px;
    height: 62px;
    display: none;
}

.english-usd:hover .francais {
    display: block;
}

.container .top-left .francais ul {
    padding: 10px;
}

.container .top-left .francais ul li {
    background: var(--color);
    margin-bottom: 5px;
}

.container .top-left .francais ul li a   {
    color: #fff;  
    font-size: 12px;
}

.top-left .english-usd {
    width: 40%;
    display: flex;
    align-items: center;
}

.english-usd .english {
    border-right: 1px solid #4e4e4e;
    border-left: 1px solid #4e4e4e;
    width: 60%;
    text-align: center;
}

.english-usd .english a {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    color: #fff;
}

.english-usd .english a:hover {
    color: var(--color);
}

.english-usd .english i:hover {
    color: var(--color);
}

.english-usd .english i {
    font-size: 10px;
    color: #fff;
}

.english-usd .usd {
    width: 40%;
    text-align: center;
    border-right: 1px solid #4e4e4e; 
}

.english-usd .usd a {
    font-size: 15px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    color: #fff;
}

.english-usd .usd a:hover {
    color: var(--color);
}

.english-usd .usd i:hover {
    color: var(--color);
}

.english-usd .usd i {
    font-size: 10px;
    color: #fff;
}

.top-left .facebook {
    width: 60%;
}

.top-left .facebook ul {
    display: flex;
}

.top-left .facebook ul li a {
    border-right: 1px solid #4e4e4e;
    display: block;
    font-size: 18px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    width: 40px;
    color: #fff;
}

.top-left .facebook ul li a:hover {
    color: var(--color);
}

.container .top-right {
    width: 50%;
}

.container .top-right ul {
    display: flex;
    justify-content: flex-end;
}

.container .top-right ul li {
    height: 40px;
    line-height: 40px;
    border-right: 1px solid #4e4e4e;
    padding: 0 20px;
}

.container .top-right ul li:nth-child(1) {
    border-left: 1px solid #4e4e4e;
}

.container .top-right ul li i {
    color: #fff;
    font-size: 13px;
}

.container .top-right ul li i:hover {
    color: var(--color);
}

.container .top-right ul li a {
    font-size: 14px;
    color: #fff;
    height: 40px;
    line-height: 40px;
}

.container .top-right ul li a:hover {
    color: var(--color);
}

.header-center {
    width: 100%;
    margin-top: 30px;
}

.header-center .container {
    width: 100%;
    display: flex;
}

.container .raloza {
    width: 50%;
}

.container .phone-shop {
    width: 50%;
    display: flex;
}

.container .phone-shop .phone {
    width: 70%;
    border-right: 1px solid #c2bdbd;
}

.container .phone-shop .phone i {
    color: var(--color);
    margin-top: 30px;
    margin-bottom: 30px;
    font-weight: bold;
}

.container .phone-shop .phone small {
    font-size: 20px;
}

.container .phone-shop .phone p {
    font-size: 15px;
}

.container .phone-shop .shop {
    width: 30%;
    position: relative;
}

.phone-shop .shop .bag {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 50px;
    position: relative;

}

.phone-shop .shop .bag i {
    font-size: 30px;
}

.phone-shop .shop .bag p {
    display: block;
    width: 15px;
    height: 15px;
    background-color: var(--color);
    text-align: center;
    line-height: 15px;
    border-radius: 50%;
    color: #fff;
    position: absolute;
    top: 0px;
    right: 24px;
    font-size: 11px;
}

.container .phone-shop .shop:hover .shop-hover {
    display: block;
}

.shop .shop-hover {
        background-color: #fff;
        position: absolute;
        top: 84px;
        right: 0px;
        display: none;
        z-index: 10;
}

.shop .shop-hover .vel {
    border-top: 3px solid var(--color);
}

.shop .shop-hover .vel ul {
    display: flex;
    justify-content: space-around;
}

.shop-hover .vel ul li {
    margin: 10px;
}

.shop-hover .vel ul li a {
    color: #4e4e4e;
}

.shop-hover .vel ul li small {
    color: var(--color);
}

.shop-hover .nunc {
    border-top: 1px solid #777777;
}

.shop-hover .nunc ul {
    display: flex;
    justify-content: space-around;
}

.shop-hover .nunc ul li {
    margin: 10px;
}


.shop-hover .nunc ul li a {
    color: #4e4e4e;
}

.shop-hover .nunc ul li small {
    color: var(--color);
}

.shop-hover .total {
    border-top: 1px solid #777777;
}

.shop-hover .total ul li {
    margin: 10px;
}

.shop-hover .total ul li small {
    font-weight: bold;
}

.shop-hover .form {
    border-top: 1px solid #777777;
}

.shop-hover .form button {
    padding: 9px 80px 8px 90px;
    background: #333333;
    margin: 8px;
    color: #fff;
}

.header-botton {
    width: 100% ;
    /* background-color: aqua; */
    height: 50px;
    margin-top: 20px;
}

.header-botton .container {
    display: flex;
}

.header-botton .container .menu {
    width: 50%;
}

.header-botton .container .menu ul {
    display: flex;
    justify-content: space-around;
}

.header-botton .container .menu ul li {
    line-height: 50px;
}

.header-botton .container .menu ul li a {
    font-weight:600;
    color: #222121;
    font-size: 16px;
}

.header-botton .container .menu ul li.home {
    position: relative;
}

.header-botton .container .menu .home:hover .home-list {
    display: block;
} 

.home div.home-list {
    position: absolute;
    background: sandybrown;
    width: 180px;
    display: none;
}

.home div.home-list ul {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

div.sud-menu {
    position: relative;
}

div.sud-menu .amily  {
    width: 500px;
    position: absolute;
}

div.sud-menu:hover .amily {
    display: block;
}

div.sud-menu .amily ul {
   display: flex;
   flex-direction: column;
}

div.sud-menu .amily {
    display: none;
}















.header-botton .container .menu ul li a:hover {
    color: var(--color);
}

.header-botton .container .search {
    width: 50%;
    display: flex;
    justify-content: flex-end;
    position: relative;
    align-items: center;
}

.header-botton .container .search .input input {
    padding: 10px 50px 10px 20px;
}

.header-botton .container .search .catalog {
    position: absolute;
    top: 17px;
    right: 10px;
}

.header-botton .container .search .catalog i {
    font-size: 20px;
}




